<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h1>DANONE</h1>
    <!--<p>Welcome to <%= title %></p>-->
    <p>Coucou Azul</p>

    <img src="https://media.giphy.com/media/hFmIU5GQF18Aw/giphy.gif">
  </body>

<script src="jquery/dist/jquery.min.js"></script>

</html>

