
<body>

<div id="page-wrapper">

<!--<nav class="navbar navbar-light bg-faded" style="background-color: #e3f2fd;">
  <img src="/images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Danone-->


   <nav class="navbar navbar-inverse bg-primary bg-faded navbar-toggleable-md  navbar-fixed-top">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header ">
      <a href="/">
        <img id="logo" src="/images/logo.png"/>
      </a>
      <a href="/"><p id="text-logo">Danone Careers</p></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left">
      </form>
      <ul class="nav navbar-nav navbar-right ">
        <li><a href="/login">Log In</a></li>
        <li><a href="/signUp">Sign Up</a></li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<div class="view">
    <div class="full-bg-img flex-center">
      <div class="text-bck">
        <p>#Too many Dicks On The Dance Floor</p>
      </div>
    </div>
</div>

<form class="form-inline">
  <label class="sr-only" for="inlineFormInput"></label>
  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Search by City">

  <label class="sr-only" for="inlineFormInputGroup"></label>
  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
    <!--<div class="input-group-addon">@</div>-->
    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="By Job Family">
  </div>

  <label class="sr-only" for="inlineFormInputGroup"></label>
  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
    <!--<div class="input-group-addon">@</div>-->
    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="By Keyword">
  </div>

  <button type="submit" class="btn btn-primary">Find</button>
</form>



</div>
</div> 

</body>



