

<body class="home-page">

<div id="page-wrapper">
  <div id="loader-container">
</div>

  <div class="comp-container">
    <div class="nav-wrapper">
      <header>
        <div class="header-left">
          <div class="nav-drawer-link">
            <div class="property-title">
              <a href="https://careers.twitter.com/" class="logo-and-title">
                <span class="logo">
                   <i class="icon-logo_sml" aria-hidden="true"></i>
                  <span class="screen-reader">Twitter logo icon</span>
                </span>
                <span class="title">Careers</span>
              </a>
            </div>
            <div class="arrow-down">
              <i class="icon-navigation_down_arrow" aria-hidden="true"></i>
              <span class="screen-reader">Arrow down icon</span>
            </div>
          </div>
        </div>
        <ul class="nav-exposed__menu">
          
            <li class="nav-main__list-item">
              <a href="https://careers.twitter.com/en/locations.html" title="Locations">
                Locations
              </a>
            </li>
          
            <li class="nav-main__list-item">
              <a href="https://careers.twitter.com/en/teams.html" title="Teams">
                Teams
              </a>
            </li>
          
            <li class="nav-main__list-item">
              <a href="https://careers.twitter.com/en/diversity.html" title="Diversity">
                Diversity
              </a>
            </li>
          
            <li class="nav-main__list-item">
              <a href="https://careers.twitter.com/en/university.html" title="University">
                University
              </a>
            </li>

            
          
        </ul>
        <div class="header-right">
          <a class="nav-icon" href="#"><span></span></a>
          <div class="login-wrapper">
            <div class="login-container signed-out" data-browser-language="es-419,es;q=0.8,fr;q=0.6,en;q=0.4" data-geo-location="AAAAEIBONAbqYmMuYQDxwPDVhanyiyeuZdAn5Uw8wBS/e7KGy84SKj75s/FMoHUy3H24FyFmErw=" data-geo-country-code="ES">

  <div class="avatar">
    
  </div>
  

  <div class="sign-in">
    <div class="btn-container">
      <a href="/login">
        <button type="button">Sign In</button>
      </a>
    </div>
  </div>
</div>
          </div>
          <form class="search" action="/content/careers-twitter/en/search.html" method="get" autocomplete="off">
  <div class="input-container">
    <div class="input">
      <input type="text" name="q" maxlength="40"/>
    </div>
  </div>
  <div class="search-icon">
    <i class="icon-navigation_search" aria-hidden="true"></i>
    <span class="screen-reader">Search icon</span>
  </div>
</form>

        </div>
      </header>
    </div>
  </div>
</div>



</body>



