<div class="view">
    <div class="full-bg-img flex-center">
      <div class="text-bck">
        <p>#Too many Dicks On The Dance Floor</p>
      </div>
    </div>
</div>

<form class="form-inline">

 <label class="sr-only" for="searchByCity"></label>
  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
    <!--<div class="input-group-addon">@</div>-->
    <input type="text" class="form-control" id="searchByCity" placeholder="Search by City">
  </div>

  <label class="sr-only" for="searchByJobFamily"></label>
  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
    <!--<div class="input-group-addon">@</div>-->
    <input type="text" class="form-control" id="searchByJobFamily" placeholder="By Job Family">
  </div>

  <label class="sr-only" for="searcByKeyword"></label>
  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
    <!--<div class="input-group-addon">@</div>-->
    <input type="text" class="form-control" id="searcByKeyword" placeholder="By Keyword">
  </div>

  <button type="submit" class="btn btn-primary">Find</button>
</form>



</div>
</div> 




