<div class="view">
    <div class="full-bg-img flex-center">
      <div class="text-bck">
        <p>#Too many Dicks On The Dance Floor</p>
      </div>
    </div>
</div>

<form class="form-inline">
  <label class="sr-only" for="inlineFormInput"></label>
  <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Search by City">

  <label class="sr-only" for="inlineFormInputGroup"></label>
  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
    <!--<div class="input-group-addon">@</div>-->
    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="By Job Family">
  </div>

  <label class="sr-only" for="inlineFormInputGroup"></label>
  <div class="input-group mb-2 mr-sm-2 mb-sm-0">
    <!--<div class="input-group-addon">@</div>-->
    <input type="text" class="form-control" id="inlineFormInputGroup" placeholder="By Keyword">
  </div>

  <button type="submit" class="btn btn-primary">Find</button>
</form>



</div>
</div> 




