<div class="goodbye">
    <div class="full-bg-img flex-center">
        <div class="logo"<img src="/images/logo.png"></div>
        <div class="text-bck">
            <h2 id="byetext">There will always be a place for you within our company, <b><%= currentUser.firstName %></b> </h2>
        </div>
    </div>
</div>

