  <div class="container" id='containerProfile'>
    
    <div class="row">
      <div class="col-6 col-md-4">
      </div>
    
      <div class="col-6 col-md-4">
        <form class="" action="/signup" method="POST" id="signup-form">
            <h2>Your Profile</h2>
       


<% %>


   <% jobFamilies.forEach((jobFamily) => { %>
      <a href="/familyJobs/<%= jobFamily._id%>">
        <div class="thumbnail">
          <img src=<%= "icons/" + jobFamily.path  %>   alt="icon image">
          <div class="caption">
            <h4><%= jobFamily.name%> </h4>
          </div>
        </div></a>
    <% }) %>