body {
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#text-logo {
  color: gray;
}

#containerLogin{
  padding-top: 30px;
}

#logo {
 max-height: 50px;
 max-width: 50px;
}

#logoLogin{
  margin-left: 60px;
  max-height: 200px;
  max-width: 200px;
}

#logo:hover{
  transform: scale(1.1, 1.1);
}

#text-logo {
  display: inline-block;
}

.background-home {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  height: 500px;
}


/*
html,
body,
.view {
    height: 500px;
}*/

.view {
  height: 500px;
    background: url("/images/workspace.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.text-bck p {
  position: relative;
  top: 300px;
  bottom: 20px;
  left: 70px;
  color: white;
  margin: 0;
}

.form-inline {
  margin-top: 30px;
  text-align: center;
}



#gender {
  padding: 10px;
}


.thumbs {
  
  max-width: 750px;
  width: 100%;
  margin: 30px auto;
}

.thumbs::after{
  content: "";
  display: block;
  clear: both;
  

}

.thumbnail:hover{
  transform: scale(1.1, 1.1);
}


.thumbnail{
  width: 100px;
  height: 150px;
  float: left;
  border: none;
  box-shadow: none;
  margin: 10px 40px 10px 40px;

}

.thumbnail img {
  margin: 0 auto;
}

.thumbnail h4 {
  font-size: 15px;
  text-align: center;
}
