@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,600");


body {
  padding-top: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}


/* make navbar transparent
.navbar{
  background:transparent;
  background-image:none;
  border-color:transparent;
  box-shadow:none;
}*/

.nav{
  margin-right: 20px;
  font-family: Open Sans;
  color: white !important;
}

#text-logo {
  color: gray;
}

#containerLogin{
  padding-top: 30px;
}

#logo {
 max-height: 50px;
 max-width: 50px;
}

#logoLogin{
  margin-left: 60px;
  max-height: 200px;
  max-width: 200px;
}

#logo:hover{
  transform: scale(1.1, 1.1);
}

#text-logo {
  display: inline-block;
}


.background-home {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  height: 500px;
}


/*
html,
body,
.view {
    height: 500px;
}*/

.view {
  height: 500px;
    background: url("/images/workspace.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.text-bck p {
  font-size: 40px;
  position: relative;
  top: 380px;
  bottom: 20px;
  left: 150px;
  font-family: Open Sans;
  color: white;
  margin: 0;
}

.form-inline {
  margin-top: 30px;
  text-align: center;
}



#gender {
  padding: 10px;
}

.thumbs {

  max-width: 750px;
  width: 100%;
  margin: 30px auto;
}

.thumbs::after{
  content: "";
  display: block;
  clear: both;
  

}

.thumbnail:hover{
  transform: scale(1.1, 1.1);
}


.thumbnail{
  width: 100px;
  height: 150px;
  float: left;
  border: none;
  box-shadow: none;
  margin: 10px 40px 10px 40px;

}

.thumbnail img {
  margin: 0 auto;
}

.thumbnail h4 {
  font-size: 15px;
  text-align: center;
}


#familyImage{
padding-bottom: 50px;
margin-left: 150px;
padding-right: 150px;

}
#familyImage img{
 max-width: 150px;
 height: auto;
 margin: 0 auto;
}

#offer{
   margin: 70px auto;
   padding-left: 150px;
   padding-right: 150px;
  
}

#offers{
   margin: 70px auto;
   padding-left: 150px;
   padding-right: 150px;
  
}

#offersHeader h1{
  font-size: 40px;
}

#offersHeader{
  font-family: Open Sans;
  margin-bottom: 70px;
}

#offersList{
  line-height: 250%;
  font-size: 18px;
  font-family: Open Sans;
  font-weight: bold;
}

#offerTitle h1{
  font-size: 40px;
}

#offerTitle{
  font-family: Open Sans;
  max-width: 800px;
  min-width: 300px;
  margin-top: 40px;
}

#offerLocation{
  font-family: Open Sans;
  line-height: 160%;
  font-size: 14px;
  font-weight: bold;
  margin-top: 100px;
}

#offerDescription{
  line-height: 160%;
  font-size: 18px;
  font-family: Open Sans;
  max-width: 900px;
  min-width: 300px;
  text-align: justify;
  text-justify: inter-word;
  margin-bottom: 40px;
}

.offerButton{
  background-color: #363a42; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
}

.offerButton:hover{
  transform: scale(1.1, 1.1);
}

.btn-circle.btn-lg {
  width: 3em;
  height: 3em;
  line-height: 1.33;
  border-radius: 35px;
  font-size:1.1em;

}

.col-centered{
  text-align: center;
}

.profile-container{
  margin-top: 30px;
  line-height: 160%;
  font-size: 18px;
  font-family: Open Sans;
  max-width: 900px;
  min-width: 300px;
  text-align: justify;
  text-justify: inter-word;
  margin-bottom: 40px;
}

.profile-avatar{
  max-width: 300px;
  max-height: 300px;
  margin: 0 auto;

}

.profile-avatar img {
  align-content: center;
  width: 100%;
}

.profile-your-information-title{
  margin-top: 10px;
  color: #1e90ff; 
}

.profile-information-display{
  margin-top: 30px;
  margin-left: -40px;
  margin-bottom: 30px;
  color: black;
}

/*.delete-btn{
  clear: right;
  margin-left: 120px;
  margin-top: 200px;
}*/

.goodbye{
  height: 800px;
    background: url("/images/goodbye.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#byetext{
  position: relative;
  font-family: Open Sans;
  top: 300px;
  bottom: 20px;
  left: 50px;
  color: white;
  margin: 0;
}